
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <!-- Navbar & Hero Start -->
        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

   
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
              
                <div class="col wow fadeInUp" data-wow-delay="0.3s">
                    <!-- <h6 class="section-title bg-white text-start text-primary pe-6">About Us</h6> -->
                    <h1 class="mb-6">Welcome to <span class="text-primary">Tourist</span></h1>
                    <p class="mb-6">We Fly n Feel Holidays, based in Ahmedabad, has been serving customers since 2012. We specialize in group tours, business tours, personalized tours, and custom tours. Rather than offering all possible destinations, we focus on selected locations where we have expertise and provide comprehensive guidelines. Our end-to-end services include flight booking, visa arrangements, airport transfers, hotel bookings, meals, sightseeing, and proper GST billing.</p>
                    <p class="mb-6">Fly N Feel Holidays is your trusted partner in creating unforgettable travel experiences! Founded with a passion for exploring the world and a commitment to providing exceptional service, we are a premier travel agency dedicated to turning your dream vacations into reality.</p>
                    <p class="mb-6">We are Ahmedabad based Travel Company provide services from Ahmedabad or Gujarat’s any city to your selected destinations. We also provide services from arrival of the destination places. We provide customized tours, airlines tickets, accommodation</p>
                    <p class="mb-6">We offers holiday packages and tailor made tours enjoyable to all in India, Nepal, Bhutan, Tibet, Sri Lanka and Maldives at very competitive price.</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>First Class Flights</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Accommodations</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>150 Premium City Tours</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                        </div>
                    </div>
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                
                <div class="col wow fadeInUp" data-wow-delay="0.3s">
                    <!-- <h6 class="section-title bg-white text-start text-primary pe-6">Thank you for visiting the website of Fly n Feel Holidays (I) Pvt. Ltd.!</h6> -->
                    <!-- <h1 class="mb-6">Welcome to <span class="text-primary">Tourist</span></h1> -->
                    <p class="mb-6">The Privacy Policy is applicable to the website as well as other customer interface of Fly n Feel Holidays (I) Pvt. Ltd (FNFHIPL). This privacy statement also does not apply to the website of our business partners, corporate affiliates or to any other third parties, even if their website is linked to FNFHIPL. We recommend you review the privacy statements of the other parties with whom you interact.</p>
                    <p class="mb-6">For the purposes of this privacy policy, “corporate affiliates” means any entity or joint venture that is wholly or partially owned or controlled by FNFHIPL. “Business partners” means any subcontractor, vendor or other entity with whom we have an ongoing business relationship to provide products, services, or information.

                    </p>
                    <p class="mb-6">The following policy governs the collection, use and protection of your Personal Information by the Website as well as the overall protection of our online visitors. This Privacy Policy shall be applicable to users or customers who visit the website and purchases any product or services from the website.</p>
                    <p class="mb-6">By visiting website you have agreed to the following Privacy Policy.</p>
                    
                </div>
            </div>
        </div>
    </div>
    



    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                
                <div class="col wow fadeInUp" data-wow-delay="0.3s">
                    <!-- <h6 class="section-title bg-white text-start text-primary pe-6">Thank you for visiting the website of Fly n Feel Holidays (I) Pvt. Ltd.!</h6> -->
                    <h1 class="mb-6">Why to <span class="text-primary"> choose us?</span></h1>
                    <p class="mb-6">We are operating tours with reputed vendors of the destinations.</p>
                    <p class="mb-6">We provide flexibility and customizations. Our tours are private that gives you more freedom during the travel.</p>                  
                    <p class="mb-6">We have experienced team to handle all kind of travel related queries.</p>
                    <p class="mb-6">We have expertise in the Schedule making and suggesting best based on the travelers age group..</p>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Start -->
    <!-- Footer Start -->

    {% endblock %}