{% extends 'base.html' %}
{% load static %}
{% block content %}



    <!-- Topbar End -->


    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">International Packages</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">Packages</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-6">About Us</h6>
                    <h1 class="mb-6">International <span class="text-primary">  Tour Packages</span></h1>
                    <p class="mb-6">Explore Outside India’s tour packages. We have packages of 4 destinations outside India. Tell us your preferences and we will create the ideal holiday for you! Whether you are travelling solo, as a couple or in a private group of family, friends or colleagues, we will provide you the perfect, tailor-made itinerary at the lowest prices.</p>
                    <p class="mb-6">The prices and packages are given here from Destination to Destination but we can help you to provide package from Ahmedabad to Destination and return with best airfares, visa and insurance.</p>
                    <h6 class="mb-6"> For any International Tour packages Quick call or message on this number</h6>
                <div style="text-align: center;"><a class="btn btn-primary py-3 px-5 mt-2" href="">Call 9825010880</a>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="">Whatsapp 9825010880</a>
                    </div>
                    <br>
                    <h5 class="mb-6" style="text-align: center;">Or Email on  <span class="text-primary" >  sales@flynfeel.co.in</span></h5>


                    
                </div>
            </div>
        </div>
    </div>

    <!-- Package Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
                <h1 class="mb-5"> International Tour  packages</h1>
            </div>
            <div class="row g-4 justify-content-left"> 
                {% for x in Tours  %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" >
                    <div class="package-item" >
                        <div class="overflow-hidden" >

                        {% if x.image %}
                        
                            <img class="img-fluid" src="{{ x.image.url }}" alt="" style="height: 150px; width: 100%;">
                        {% else %}
                            <img class="img-fluid" src="default-image.jpg" alt="Default image" style="height: 200px;">
                        {% endif %}
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{x.tour_name}}</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>{{x.total_days}} days</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mb-0">₹ {{x.deluxe_price_per_person}}/-</h3>
                            <h8 class="mb-0">Per - Person</h8>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p  style=" font-size: 17px; color: gray;"><strong>{{x.tour_name}}</strong></p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <!-- <a href="accounts/package_details.html" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a> -->
                                
                                
                                <a href="{% url 'package_details' x.id %}" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <!-- Package End -->





    <!-- Process Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Process</h6>
                <h1 class="mb-5">3 Easy Steps</h1>
            </div>
            <div class="row gy-5 gx-4 justify-content-center">
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-globe fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Choose A Destination</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-dollar-sign fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Pay Online</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-plane fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Fly Today</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
          
                <div class="col wow fadeInUp" data-wow-delay="0.3s">
                    <!-- <h6 class="section-title bg-white text-start text-primary pe-6">About Us</h6> -->
                    <h1 class="mb-6">Who <span class="text-primary">  we are?</span></h1>
                    <p class="mb-6">Fly n Feel Holidays – Serving Since 2012 – Travel with Trust</p>
                    <p class="mb-6">We are Fly n Feel Holidays. Ahmedabad based Travel company. We provide Local and international travelling from Ahmedabad and any city from India.</p>
              
                   
                    <h5 class="mb-6">  <span class="text-primary" > <a href=""> Customer’s Feedback for Us</a>
                    </span></h5>


                    
                </div>
            </div>
        </div>
    </div>
    <!-- Process Start -->
        



{% endblock %}